<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <a *ngFor="let menu of menus" [routerLink]="menu.RoutePath" [routerLinkActive]="['router-link-active']"
      class="list-group-item" (click)="onMenuSelected(menu)">
        <i class="fa fa-fw" [ngClass]="menu.Icon"></i>&nbsp;{{ menu.DisplayName }}
    </a>

    <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
    </a>
    <a *ngIf="authUser.type == 2" routerLink="/plans" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-money"></i>&nbsp;Planos e Preços
    </a>
    <a routerLink="/schools" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-graduation-cap"></i>&nbsp;Escolas
    </a>
    <a routerLink="/offers" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-server"></i>&nbsp;Ambientes
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
          <span><i class="fa fa-bar-chart"></i>&nbsp; Analítico</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
          <ul class="submenu">
              <li>
                  <a routerLink="/reports/logs" [routerLinkActive]="['router-link-active']"><span>Logs</span></a>
              </li>
              <li>
                  <a href="javascript:void(0)"><span>Menu 4.2</span></a>
              </li>
              <li>
                  <a href="javascript:void(0)"><span>Menu 4.3</span></a>
              </li>
          </ul>
      </li>
    </div> -->
  </ul>
</nav>
