<div class="container-fluid">
  <app-page-header icon="fa-graduation-cap" heading="Manutenção de Escolas"></app-page-header>
  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <div class="d-inline">
        <div class="float-left text-center">
          <span class="font-weight-bold">Cidade:</span>
      </div>

      <select class="form-control float-right w-75" [(ngModel)]="city" (change)="onSelectChange()">
          <option *ngFor="let city of cities" [ngValue]="city" >{{ city }}</option>
      </select>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Cidade</th>
        <th scope="col">Data Credenciamento</th>
      </thead>
      <tbody>
        <tr *ngFor="let school of schoolList">
          <td>{{ school.id }} </td>
          <td>{{ school.name }} </td>
          <td>{{ school.cnpj }} </td>
          <td>{{ school.city }} </td>
          <td>{{ school.registerDate | date:'dd/MM/yyyy' }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loading [isProcessing]="isProcessing"></app-loading>
