<div class="container-fluid">
    <app-page-header icon="fa-desktop" [heading]="headerTitle" canGoBack=true></app-page-header>
    <div class="row">
      <div class="col-12">
        <form class="needs-validation" [formGroup]="formFields">
          <div class="form-row">
            <div class="card w-100">
              <div class="card-header">
                <h5>Dados da Funcionalidade</h5>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <!-- Código -->
                  <div class="col-6 col-md-3">
                      <div class="form-group col-sm-12" [ngClass]="applyCssError('code')">
                        <small class="form-text text-muted">Código da Telas/Funcionalidade</small>
                        <div class="input-group mb-3">
                          <div class="input-group-addon">
                            <i class="fa fa-code"></i>
                          </div>
                          <input class="form-control" formControlName="code" placeholder="Código da Tela"
                            [(ngModel)]="screen.code" [ngClass]="applyCssError('code')"
                          />
                        </div>
                        <app-field-control-error [showError]="verifyValidTouched('code')" errorMessage="Código é Obrigatório" class="fixErrorPosition"></app-field-control-error>
                      </div>
                  </div>

                  <!-- Título -->
                  <div class="col-12 col-md-9">
                      <div class="form-group col-sm-12" [ngClass]="applyCssError('name')">
                        <small class="form-text text-muted">Título da Telas/Funcionalidade</small>
                        <div class="input-group mb-3">
                          <div class="input-group-addon">
                            <i class="fa fa-edit"></i>
                          </div>
                          <input class="form-control" formControlName="name" placeholder="Título da Tela"
                            [(ngModel)]="screen.name" [ngClass]="applyCssError('name')"
                          />
                        </div>
                        <app-field-control-error [showError]="verifyValidTouched('name')" errorMessage="Título é Obrigatório" class="fixErrorPosition"></app-field-control-error>
                      </div>
                  </div>
                </div>
                <div class="form-row">
                    <!-- Icone -->
                    <div class="col-6 col-md-3">
                        <div class="form-group col-sm-12" [ngClass]="applyCssError('icon')">
                          <small class="form-text text-muted">Ícone da Telas/Funcionalidade</small>
                          <div class="input-group mb-3">
                            <div class="input-group-addon">
                              <i class="fa fa-font-awesome"></i>
                            </div>
                            <input class="form-control" formControlName="icon" placeholder="Ícone da Tela"
                              [(ngModel)]="screen.icon" [ngClass]="applyCssError('icon')"
                            />
                          </div>
                          <app-field-control-error [showError]="verifyValidTouched('icon')" errorMessage="Ícone é Obrigatório" class="fixErrorPosition"></app-field-control-error>
                        </div>
                        <div class="screen-icon-panel">
                          <i class="fa fa-lg" [ngClass]="screen.icon"></i>
                        </div>
                    </div>

                    <!-- Caminho -->
                    <div class="col-12 col-md-9">
                        <div class="form-group col-sm-12" [ngClass]="applyCssError('path')">
                          <small class="form-text text-muted">Caminho Relativo para acesso Telas/Funcionalidade</small>
                          <div class="input-group mb-3">
                            <div class="input-group-addon">
                              <i class="fa fa-location-arrow"></i>
                            </div>
                            <input class="form-control" formControlName="path" placeholder="Caminho da Tela"
                              [(ngModel)]="screen.path" [ngClass]="applyCssError('path')"
                            />
                          </div>
                          <app-field-control-error [showError]="verifyValidTouched('path')" errorMessage="Caminho da Tela é Obrigatório" class="fixErrorPosition"></app-field-control-error>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="card w-100">
              <div class="card-header">
                <h5>Funcionalidade Pai</h5>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <!-- Tela Pai -->
                  <div class="col-12">
                      <div class="form-group col-sm-12" [ngClass]="applyCssError('parentId')">
                        <small class="form-text text-muted">Tela Pai da Telas/Funcionalidade</small>
                        <div class="input-group mb-3">
                          <div class="input-group-addon">
                            <i class="fa fa-sitemap"></i>
                          </div>
                          <select class="form-control" formControlName="parentId" placeholder="Funcionalidade Pai" [(ngModel)]="screen.parentId">
                            <option *ngFor="let item of screenList" [ngValue]="item.id">{{ item.name }}</option>
                          </select>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                  <button *ngIf="!isNew" class="btn btn-danger float-left" (click)="onDelete()">Excluir</button>

                  <button class="btn btn-primary float-right" (click)="onSave()">Salvar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-loading [isProcessing]="isProcessing"></app-loading>
