
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <img src="assets/images/Logos/Logo-Neno-branco.png" style="width: 40px; margin-right: 5px;" />
  <a class="navbar-brand" href="#"> Neno App - Administrador</a>

  <!-- Botão do menu quando site aberto no celular -->
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto  float-right">
      <!-- <li class="nav-item mr-1 align-middle">
        <span class="navbar-text align-middle">Baixe o Onde Ir:</span>
      </li> -->
      <!-- Área para Download do App -->
      <!-- <li class="nav-item d-none d-xl-block">
        <a href="https://play.google.com/store/apps/details?id=br.com.lionforcefranchising.ondeircidades" target="_blank" class="nav-link">
          <img src="assets/images/waze-googleplay.png" class="d-inline-block align-center" style="max-height: 30px;" />
        </a>
      </li>
      <li class="nav-item d-none d-xl-block">
        <a href="https://itunes.apple.com/br/app/onde-ir-cidades/id1340880582?mt=8" target="_blank" class="nav-link">
          <img src="assets/images/Icon-App-Store.png" class="d-inline-block align-center" style="max-height: 30px;" />
        </a>
      </li> -->

      <li class="nav-item dropdown">
        <div class="calendar-item" (click)="showCalendar = !showCalendar">
          <i class="fa fa-calendar"></i> {{ today | date:'dd/MM/yyyy' }}
        </div>
        <div *ngIf="showCalendar" class="calendar-container">
          <div class="row">
            <app-calendar [viewDate]="today"></app-calendar>
          </div>
        </div>
      </li>

      <!-- Menu para o Usuário -->
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-user"></i> {{loginInfo?.userName}}
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a *ngIf="authUser.type == 1" class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile']">
            <i class="fa fa-fw fa-user"></i>Meus Dados
          </a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i>Sair
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<nav *ngIf="showSubmenu" class="navbar navbar-expand-lg navbar-dark bg-dark sub-menu">
    <ul class="navbar-nav ml-auto sub-menu-list float-left">
        <li class="menu-item" *ngFor="let menu of menus" [routerLink]="menu.RoutePath" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw" [ngClass]="menu.Icon"></i>&nbsp;{{ menu.DisplayName }}
        </li>
    </ul>
</nav>
