$topnav-background-color: #222;
$topbar-background-color: #189695;

:host {
  .navbar {
    height: 60px;
    border-left: 1px solid green;
    left: 235px;

    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: lightcyan;
      &:hover {
        color: #fff;
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .bg-dark {
    background-color: $topbar-background-color !important;
  }

  .sub-menu {
    top: 60px;
    right: 0;
    left: 235px;
    z-index: 1001;
    height: 45px;
    border-top: 1px solid green;
    color: white;

    .sub-menu-list {
      position: absolute;
      color: white;
      z-index: 99999;
      top: 0;
      left: 10px;
      bottom: 0;
      align-items: center;
      flex-direction: row!important;
    }

    .menu-item {
      margin-right: 5px;
      cursor: pointer;
      padding: 10px;
    }

    .menu-item:hover {
      background: #14807f;
      color: #fff;
    }
  }

  @media screen and (max-width: 992px) {
    .navbar {
      left: 0px;
    }

    .sub-menu {
      left: 0px;
    }
  }

  .text-muted {
    color: white!important;
  }


}

.select-message {
  position: fixed;
  margin-left: 10px;
  color: gray;
}
